@media (max-width: 1150px){
    .about__items{
        display: block;
    }
    .about__item{
        max-width: 80%;
        min-height: 330px;
        margin: 30px auto;
    }
    .form__inner{
        background-image: none;
    }
}

@media (max-width: 900px){
    .slick-btn{
        display: none !important;
    }
    .about__top{
        display: block;
    }
    .about__title-box, form__title-box{
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px;
    }
    .about__title-box:before,
    .form__title-box{
        display: none;
    }
    .about-btn{
        text-align: center;
    }
    .form__box-inner{
        display: block;
    }
    .form__box-left {
    max-width: 100%;
    }

    .form__box-right {
    max-width: 100%;
    }
    
    .form__box-inner .jq-selectbox__select{
        margin-bottom: 10px;
    }
    .form{
        margin-bottom: 30px;
    }
    .advantages__inner{
        display: block;
    }
    .advantages__inner-item{
        max-width: 100%;
        margin-bottom: 30px;
    }
    
    .footer__inner{
        display: block;
    }
    
    .footer__map{
        max-width: 100%;
    }
}

@media (max-width: 700px){
    .header__btn{
        float: none;
        text-align: center;
        width: 90%;
    }
    
    .header__contacts {
        text-align: center;
    }
     .header__btn:before{
        display: none;
    }
    .footer__info .header__btn:before{
        display: block;
    }
    
    .header__btn-menu {
        display: block;
    }
    .menu ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 13px;
        z-index: 50;
    }
    
    .menu li{
        display: block;
        text-align: center;
    }
    
    .menu a{
        display: block;
        background-color: #ffc222;
    }
    
    .menu li + li{
        padding-left: 0px;
    }
    
}

@media (max-width: 600px){
    .about__item{
        max-width: 100%;
        min-height: 375px;
        margin: 30px auto;
    }
}

@media (max-width: 414px){
    .slider__title{
        font-size: 24px;
    }
    .slider__text{
        font-size: 14px;
    }
}

@media (max-width: 400px){
    .header__btn:before{
        display: block;
    }
}


@media (min-width: 700px){
    .menu ul{
        display: block !important;
    }
}